<%- include('../partials/header') %>


<h1>ADD A NEW TASK LIST</h1>
<div id="new-list-container">
<form action="/tasklists" method="POST">
  <label>TITLE:
    <input type="text" name="title">
  </label><br>
  <label>DATE:
    <input type="date" name="listDate">
  </label><br><br>
  <input type="submit" value="ADD TASK LIST">
</form>
</div>



<%- include('../partials/footer') %>