* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  margin: 0;
  height: 100vh;
  background-color: black;
}

nav {
  border-bottom: 2px solid rgb(251, 255, 1);
  margin-bottom: 20px;
}

body>nav {
  grid-area: nav;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 0 30px;
}

nav>img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
  color: #424748;
}

nav>a {
  margin: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 6px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

nav>a:hover:not(.active) {
  color: black;
  border-color: black;
  background-color: rgb(251, 255, 1);
}

nav>a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}

.login img {
  height: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

h1 {
  font-size: 16px;
  margin-bottom: 16px;
}

h3 {
  font-size: 10px;
}

#all-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 315px;
  width: 289px;
  background-color: black;
  border: 1px solid rgb(251, 255, 1);
  border-radius: 5px;
}

#one-list-container {
  background-color: black;
  border: 1px solid rgb(251, 255, 1);
  border-radius: 5px;
}

#new-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 200px;
  width: 289px;
  background-color: black;
  border: 1px solid rgb(251, 255, 1);
  border-radius: 5px;
}

table {
  font-size: 9px;
  margin: 5px;
}

table thead th {
  padding: 5px;
}

table td {
  width: 260px;
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3) {
  min-width: 100px;
}