@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');


* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgb(51, 51, 51);
}

nav {
  border-bottom: 3px solid rgb(209, 211, 105);
  margin-bottom: 20px;
}

body>nav {
  grid-area: nav;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 0 30px;
}

nav>img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
  color: #424748;
}

nav>a {
  margin: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 6px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

nav>a:hover:not(.active) {
  color: black;
  border-color: black;
  background-color: rgb(209, 211, 105);
}

nav>a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}

.login img {
  height: 16px;
}

/* Icons */
.list-icon1 {
  height: 12px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

h1 {
  font-size: 16px;
  margin-bottom: 16px;
}

h3 {
  font-size: 10px;
}

#all-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 315px;
  width: 289px;
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(251, 255, 1);
  border-radius: 5px;
}

.details-delete {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  ;
}

.details-container {
  margin-right: 20px;
}

.delete-container {
  margin-left: 20px;
}

.list-title {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 4px;
}

.list-date {
  font-size: 8px;
}

#one-list-container {
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(197, 199, 103);
  border-radius: 5px;
  padding: 10px;
  width: 295px;
  margin-bottom: 3px;
}

#one-list-container:hover {
  background-color: rgb(65, 65, 65);
  border: 1px solid rgb(230, 231, 125);
  border-radius: 5px;
  padding: 10px;
  width: 295px;
  margin-bottom: 5px;
}

#new-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 200px;
  width: 289px;
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(230, 231, 125);
  border-radius: 5px;
}

#task-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.align-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


input[type=text] {
  width: 200px;
  height: 30px;
  margin: 10px;
  border: 1px solid rgb(230, 231, 125);
  border-radius: 3px;
  background-color: rgb(99, 98, 98);
  color: white;
  padding-left: 5px;
}

input[type=date] {
  width: 200px;
  height: 30px;
  margin: 10px;
  border: 1px solid rgb(230, 231, 125);
  border-radius: 3px;
  background-color: rgb(99, 98, 98);
  color: white;
  padding-left: 5px;
}

textarea {
  background-color: rgb(99, 98, 98);
  border: 1px solid rgb(230, 231, 125);
  border-radius: 3px;
  padding-left: 5px;
}

#add-task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: rgb(51, 51, 51);
}

#add-task-label {
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 600;
  margin-left: 2px;
}

#important-label {
  font-size: 10px;
  font-weight: 800;
  margin: 3px, 0px, 3px, 0px;
}

#important {
  margin: 3px, 0px, 0px, 0px;
}

#add-task-section {
  display: flex;
  flex-direction: column;
}

#add-task-content {
  width: 295px;
  border: 1px solid rgb(230, 231, 125);
  font-style: italic;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  background-color: rgb(51, 51, 51);
  margin-bottom: 6px;
}

/* Buttons */

/* Details Button */
a.details {
  font-size: 8px;
  font-weight: 800;
  color: white;
  border: 1px solid green;
  border-radius: 4px;
  padding: 7px 10px 6px 10px;
}

a.details:hover {
  border: 2px solid green;
  padding: 8px 11px 7px 11px;
}

/* Check box */


/* Submit Buttons */
.submit-button {
  margin: 10px, 0px, 0px, 10px;
  width: 65px;
  text-decoration: none;
  font-weight: 600;
  font-size: 6px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgb(51, 51, 51);
}

.submit-button:hover {
  color: black;
  border-color: black;
  background-color: rgb(209, 211, 105);
}


a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

.delete-button {
  padding: 2px 6px 2px 6px;
  color: red;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 1px;
  background-color: rgb(51, 51, 51);
  border: 1px solid red;
  border-radius: 4px;
}

.delete-button:hover {
  padding: 3px 7px 3px 7px;
  border: 2px solid red;
  font-weight: 400;
}