<%- include('../partials/header') %>

<h1>NEW NOTE</h1>
<br>
<h6>"Print current selected task here"</h6>
<div id="add-task-container"></div>
<form id="new-note-form" action="/tasklists/<%= tasklist._id %>/<%= taskId %>/notes" method="POST">
    <div id="add-task-section">
        <label id="add-task-label" for="">ADD A NOTE:</label>
        <textarea id="add-task-content" name="content" rows="2" cols="30" placeholder="Add note here..."></textarea>
      </div>
      <div class="align-right">
        <input id="add-task-btn" class="submit-button" type="submit" value="ADD NOTE">
      </div>
</form>
</div>
<br>



<%- include('../partials/footer') %>