<%- include('../partials/header') %>

<h1>NEW NOTE</h1>
<br>
<h6>"Print current selected task here"</h6>
<br>

<form id="new-note-form" action="/tasklists/<%= tasklist._id %>/<%= taskId %>/notes" method="POST">
    <label>ADD NOTE:</label>
    <textarea name="content"></textarea>
    <br>
    <input type="submit" value="ADD NOTE">
</form>
<br>



<%- include('../partials/footer') %>